@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo+Mono:wght@300&family=Kanit:wght@600;900&family=Roboto:wght@100;400;500&display=swap');

/* Mobile first */

/* Configurações Gerais */

:root{
    --cor-fundo-1:#1A1A1A;
    --cor-destaque-1:#1ed760;
    --cor-destaque-2:#17C3B2;
    --fonte-normal-1:Gotham,Arial, Helvetica, sans-serif;
    --fonte-mono-1:Roboto Mono,'Courier New', Courier, monospace;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: var(--fonte-normal-1);
}
html,body{
    height:100vh;
    background-color: #1A1A1A;
    transition: width 3s ease-in-out;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    color: var(--cor-destaque-1);
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.534);
    font-size: 1.65em;
    margin: 80px 0px;
}
p{
    max-width: 97vw;
    font-size: 1.3em;
    text-align: center;
}
abbr{
    text-decoration: none;
}
li{
    font-size: 1.4em;
    padding-top: 3px;
    margin: 25px 0px;
}
section{
    min-height: 100vh; 
    transition: width 1s ease;
}
strong{
    color: var(--cor-destaque-1);
}
select{
    background-color: var(--cor-fundo-1);
    padding: 10px 20vw;
    text-align: center;
    margin: 100px 0px;
}
label{
    color: #ceccccd2;
}
/* botões */
a.button{
    background-color: var(--cor-destaque-1);
    color: black;
    padding: 20px;
    display:block;
    width: 70%;
    margin: auto;
    font-family: var(--fonte-mono-1);
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #00000025;
    transition: transform 400ms;
    box-shadow:1px 4px 4px 3px #0000004f;
    height: 61px;
    margin: 85px auto;
}
a.button:hover{
    transform: scale(1.08,1.08);
    box-shadow:1px 5px 5px 5px #0000004f;
}
a.button:active{
    transform: scale(1,1);
    box-shadow: inset 1px 1px 50px #00000052,1px 3px 3px 3px #00000036;
} 
a.button > i{
    color: black;
}
/* section 1*/
header{
    background-color: #D6B113;
    height: 150px;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.705);  
    padding-top:20px; 
}
header > img{
    display: block;
    background-color: #1A1A1A;
    margin: auto;
    width: 230px;
    height: 195px;
    border: 2.5px solid black;
}
#perfil{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    min-height: 100vh !important;
}
#perfil > h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75em;
}
#perfil >ul{
    list-style: none !important;
}
#perfil >ul > li > i{
    margin-right: 30px;
    color: var(--cor-destaque-1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.616);
}
/* section 2*/
nav{
    text-align: center;
    color: #111111;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px black;
    margin: 0px 10px;
}   
nav > a{
    display: block;
    width: 30%;
    color:white!important;
    padding: 10px 0px;
    margin: 0px 20px;
    transition: color 0.3s;
}
nav > a:hover{
    color: var(--cor-destaque-1) !important;
    background-color: #111111;
    border-radius: 5px;
}
nav > a:active{
    background-color: #313030;
}
/* section 3*/
#linguagens > h1{   
    margin-bottom: 30px;
}
#ling-img{
    display: block;
    margin: 120px auto;
}
#ling-descricao{
    display: block;
    margin: auto;
    max-width: 98vw;
    margin-bottom: 30px;
}
#linguagens > div{
    display: none;
}
/* section 4*/
#container-proj{
    margin: 60px auto;
    max-width: 1300px;
    height: 450px;
    display: flex;
    align-items: center;
    gap: 90px;
    overflow-x: scroll;
    padding: 30px;
}
#container-proj > figure{
    height: 360px;
    box-shadow: 0px 1px 6px 1px #0000008c;
    border-radius: 13px;
    padding: 30px;
}
#container-proj > figure > figcaption{
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;

}
#container-proj > figure >img {
    height: 200px;
    display: block;
    box-shadow:0px 1px 6px 1px #0000008c;
    border-radius: 13px;
    padding: 5px;
}
#container-proj > figure > a{
   display: block;
   margin: 15px auto;
   width: 30px;
   transition:transform 300ms ease-in-out;
}
#container-proj > figure > a > i{
    color: var(--cor-destaque-1); 
}
#container-proj > figure > a:hover{
    transform: scale(1.1);
}
#container-proj > figure > a:active{
    transform: scale(1);
}
#container-proj > figure > a:active > i{
    color: #0a5223;
}
/* section 5*/
article#container-objetivo{
    padding: 0px 10px;
}
article#container-objetivo > aside{
    height: 590px;
    max-width: 400px;
    background-color: rgb(226, 121, 121);
    border: 7px solid var(--cor-destaque-2);
    border-bottom: 20px solid var(--cor-destaque-2);
    
    margin: 30px auto;
    box-shadow: 4px 5px 3px 2px rgba(0, 0, 0, 0.295);
}
aside > div > h2{
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding-left: 30px;
    border-left:15px solid var(--cor-destaque-2) ;
   
}
article#container-objetivo > aside > div{
    
    height: 100%;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: all 0.6s cubic-bezier(.39,.88,1,.33);
    border: 2px solid white;
    position: relative;
    border-bottom: none;
    
}
article#container-objetivo > aside > div:hover{
    backdrop-filter: blur(0px);
}
article#container-objetivo > aside > div:hover >span{
    transition-delay: 0.4s;
    opacity: 0;
}
article#container-objetivo > aside > div >span{
    display: none;
    font-size: 2em;
    width: 190px;
    margin:auto;
    padding-top: 60px;
    transition-delay: 0.3s;
}
article#container-objetivo > aside > div > p{
    padding-top: 40px;
    transition: opacity 0.2s ease-in;
    transition-delay: 0.3s;
    opacity: 1;
    text-shadow: 2px 2px 1px black;
}
article#container-objetivo > aside > div:hover > p{
    opacity: 1;
}
article#container-objetivo > aside > div >span > i{
    padding-left: 50px;
    padding-top: 10px;
    font-size: 2.3em;
    text-shadow: 3px 3px 1px var(--cor-destaque-2);

}
/* section 6*/
#sobre > p{
    margin: 35px auto;
}
#social > img{
    display: block;
    background-color: var(--cor-fundo-1);
    border:  3px solid black;
    border-radius: 50%;
    margin: 70px auto;
    max-width: 250px;
    height: 240px;
}
#container-social{
    margin:auto;
    text-align: center;
}
#container-social > a >i{
    color: #ffffff36;
}
#container-social > a:hover >i{
    color: white !important;
}
#container-social > a:hover{
    background-color:#ffffff36;
    border-color: white;
}
#container-social > a:active{
    transform: scale(0.9);
}
#container-social >a{
    border: 2px solid #ffffff80;
    background-color: #131212;
    padding: 9px;
    font-size: 1.9em;
    display: inline-block;
    height: 53px;
    width: 60px;
    border-radius: 50%;
    margin: 0px 10px;
    margin-top: 30px;
    transition: transform 0.2s;
}
 #social{
   min-height: 70vh;
   font-family: 'Chivo Mono', monospace;
}